/target
/dist
*.so
*.nes
node_modules/
package-lock.json
packages/player-sdk/dist/
packages/player-sdk/node_modules/
apps/*/node_modules/
roms/
# Added by cargo
#
# already existing elements were commented out

#/target
test-rom.gba
nmajamtegen.md
